<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="login-container">
  <%= form_with(model: @user, url: user_session_path, method: :post) do |form| %>
    <div>
      <%= form.text_field :name, placeholder: "Username", class: "username" %>
    </div>

    <div>
      <%= form.password_field :password, placeholder: "Password", class: "password" %>
    </div>

    <div>
      <%= form.submit "Login", class: "login" %>
    </div>
  <% end %>
</div>
