# _user.html.erb
<div class="user-container" data-user-id="<%= user.id %>">
  <%= link_to user_path(user) do %>
    <div class="container-components">
      <div class="img-container">
        <img src="<%= user.photo %>" alt="<%= user.name %>" />
      </div>

      <div class="userpost-container">
        <h1 class="user-name" data-user-id="<%= user.id %>"><%= user.name %></h1>
        <p class="user-post">Number of posts: <%= user.posts_counter %></p>
      </div>
    </div>
  <% end %>
</div>
