<div class="user-container" data-user-id="<%= user.id %>">
  <%= link_to user_path(user) do %>
    <div class="container-components">
      <img src="<%= user.photo %>" alt="<%= user.name %>" class="image" />

      <div class="userpost-container">
        <h1 class="user-name" data-user-id="<%= user.id %>"><%= user.name %></h1>
        <p class="user-post">Number of posts: <%= user.posts_counter %></p>
      </div>
    </div>
  <% end %>
</div>
