<%= stylesheet_link_tag 'post-show' %>

<div class="posts-show">
  <div class="post-show">
  
    <p>Post #<%= @post_index + 1 %> by <%= @user.name %></p>

    <div class="post-interact">
      <p>comments: <%= @post.comments_counter %></p>
      <p>, likes: <%= @post.likes_counter %></p>
    </div>
  </div>

  <div>
    <p><%= @post.text %></p>
  </div>
</div>

<div class="comments-container">
  <h2>Comments</h2>
  <%= render "shared/comments", comments:@comments %>
 </div>