<%# https://users/745/posts/3 %>
<% if @post.present? %>
  <p>Post #<%= @post_index + 1 %> by <%= @user.name %></p>
  Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %>

    <p><%= link_to @post.title, user_post_path(@user, @post) %></p>

    <ul>
      <% @post.comments.each do |comment| %>
        <li><%= @user.name %>: <%= comment.text %></li>
      <% end %>
    </ul>
<% end %>